

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;   /* ✅ Sửa ở đây */
  width: 100%;
}



.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}


